div.box-info p {
  padding: 1em;
  margin: 20px 0;
  background: #DDECF6;
  border: 1px solid #CEE9F2;
  border-radius: 10px;
  color: #487997;
  border-left: 5px solid #487997;
}

div.box-header p {
  padding: 1em;
  margin: 20px 0;
  margin-top: 0;
  background: #D5E6DE;
  border: 1px solid #C0DACD;
  border-radius: 10px;
  color: #567763;
  border-left: 5px solid #567763;
}

.d-title {
  text-align: center;
}
/*
.distill-site-nav {
  background-color: #67516e;
}
*/


.btn {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 85%;
  font-weight: normal;
  font-family: Monospace;
  margin-left: 10px;
  color: black;
  border: 1px solid #ddecf6;
  background-color: #ddecf6;
  border-radius: 8px;
  padding: 4px 8px 4px 8px;

}

.btn a:link, .btn a:hover, .btn a:focus, .btn a:visited {
  text-decoration: none;
  border: 0px;
}

.btn:hover, .btn:focus {
  color: white;
  border: 1px solid #487997;
  background-color: #487997;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 86.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
